.nav-search {
    width: 40rem;
}

.buttn {
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none;
    font: menu;
    color: black;
    display: inline-block;
    padding: 2px 8px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    border: 3px solid green;
}

li,
ul {
    list-style: none;
    padding: 0;
}

ol,
ul {
    padding-left: 0 !important;
}

a {
    color: #000;
    text-decoration: none !important;
}

p {
    margin-top: revert !important;
}

#main-content {
    height: 100%;
}

.main-content--accessible {
    height: 100%;
    display: flex;
    flex-direction: column;
}

div#chrome-sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
}

.VTBBowk {
    font-size: .875rem;
    font-family: futura-pt, sans-serif;
    letter-spacing: .4px;
}

._3FDhT9y {
    display: none;
}

._25L--Pi {
    height: 60px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.w9hgW1d {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    height: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    align-content: center;
}

.RLpiNyQ {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #f8f8f8;
    box-shadow: 0 0 0 1px #ddd;
    margin: 0 17px;
}

._1I2c49V .headroom--unfixed {
    position: relative;
}

._1I2c49V .headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 9501;
}

._3wSz5e5 {
    background-color: #2d2d2d;
    height: 50px;
    width: 100%;
}

._25fsaDO {
    color: #666;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

._2zC79ar {
    font-size: .875rem;
    font-family: futura-pt, sans-serif;
    letter-spacing: .4px;
}

._31ffwSC {
    height: 100%;
    width: 22px;
    padding: 0 18px;
    box-sizing: content-box;
    display: inline-block;
    vertical-align: top;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='14' width='18'%3E%3Cpath d='M0 0h18v2H0zm0 6h18v2H0zm0 6h18v2H0z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 14px;
    background-position: 50%;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

._24SZgSx {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding-right: 12px;
    align-self: flex-start;
}

._24SZgSx svg {
    margin-top: 13px;
}

._2M1Oheb {
    width: 80px;
    height: 24px;
    display: block;
    fill: #fff;
}

._1gfpvjl {
    list-style: none;
    margin: 0;
    display: inline-flex;
    vertical-align: top;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(45, 45, 45, .1);
    box-sizing: border-box;
}

._2Q6RfP3 {
    display: none;
}

._1gfpvjl li {
    width: 50%;
    position: relative;
    display: inline-block;
}

.TO7hyVB.Tar7aO0 {
    color: #2d2d2d;
    border-bottom: 2px solid #2d2d2d;
}

._3B0kHbC {
    font-size: .875rem;
    font-family: futura-pt, sans-serif;
    letter-spacing: .4px;
}

.TO7hyVB {
    height: 49px;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #999;
    letter-spacing: 2px;
    font-weight: 900;
    background-color: #fff;
    border-style: none;
    cursor: pointer;
    padding: 0;
    line-height: 50px;
    box-sizing: border-box;
}

._1gfpvjl li:not(:last-of-type):after {
    content: "";
    top: 50%;
    right: 0;
    margin-top: -10px;
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: rgba(45, 45, 45, .1);
}

._36m0W_u {
    display: inline-block;
    flex-grow: 1;
}

._3fERfnD {
    padding: 0;
    margin: 0;
    align-self: flex-end;
    display: flex;
    float: right;
}

._3Wo6fpk {
    list-style: none;
    color: #fff;
    box-sizing: border-box;
    width: 50px;
    padding: 0;
    display: inline-flex;
}

._3iG3MJz {
    position: relative;
    touch-action: none;
    z-index: 10;
    outline: none;
}

._3iG3MJz:hover .Gmnwu_e {
    display: block;
}

._2nHArcS {
    background-repeat: no-repeat;
    background-size: auto;
}

.-rhP1cz {
    display: inline-block;
    color: currentcolor;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
}

.-rhP1cz,
.gBrrjX4 {
    font-size: 1.25rem;
}

._3iH_8F6 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' height='19' width='19'%3E%3Cpath d='M14 6a4 4 0 10-8 0 4 4 0 008 0zm2 0A6 6 0 114 6a6 6 0 0112 0zm-6 9c-3.068 0-5.67 1.223-7.035 3h14.07c-1.365-1.777-3.967-3-7.035-3zm10 5H0c.553-4.006 4.819-7 10-7s9.447 2.994 10 7z' fill='%23fff'/%3E%3C/svg%3E");
}

.Gmnwu_e {
    position: absolute;
    overflow: hidden;
    top: 50px;
    width: 325px;
    max-height: 0;
    display: none;
    transition: opacity .6s;
    transition-delay: 5s;
}

.jPP-Skd .Gmnwu_e {
    max-height: 100vh;
}

#myAccountDropdown .Gmnwu_e {
    left: -175px;
}

.Gmnwu_e:before {
    content: "";
    width: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 11px solid #eee;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity .6s;
    transition-delay: .25s;
    z-index: 1;
}

.jPP-Skd .Gmnwu_e:before {
    opacity: 1;
}

#myAccountDropdown .Gmnwu_e:before {
    left: 185px;
}

._33s2s-y {
    left: 0;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 10px;
}

._33s2s-y,
.Z8dxicz {
    display: flex;
    flex-direction: column;
}

.Z8dxicz {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: -2px 2px 4px 0 rgb(45 45 45 / 14%);
    transform: translateY(calc(-100% - 5px));
    transition: transform .6s;
    transition-delay: .25s;
}

.jPP-Skd .Z8dxicz {
    transform: translateY(0);
}

._10AVfLf {
    display: none;
    flex-direction: column;
    min-height: 255px;
    max-height: calc(100vh - 200px);
}

._23LM9fc {
    display: flex;
}

._3dfrZFm {
    box-sizing: border-box;
    height: 50px;
    justify-content: space-between;
    width: 100%;
}

._3dfrZFm,
._3mygsrG {
    background-color: #eee;
    display: flex;
    z-index: 1;
    flex-shrink: 0;
}

._3hSCfS2 {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden;
    padding-left: 1em;
}

.k3_c4ux {
    display: flex;
    align-items: center;
}

._1336dMe,
.tiqiyps {
    font-size: 1rem;
    font-family: futura-pt, sans-serif;
    white-space: nowrap;
}

._1336dMe {
    border: none;
    background-color: transparent;
    padding: 0;
    letter-spacing: .4px;
    cursor: pointer;
    display: inline;
    text-decoration: underline;
    line-height: 2.14;
    color: #666;
}

._3xmyjOP:before {
    content: "|";
    display: block;
    padding: 0 .5em;
    color: #666;
}

._6iPIuvw {
    background-color: transparent;
    border: none;
    color: currentcolor;
    font-size: 0;
    line-height: 0;
}

.AckDUvD {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' height='19' width='19'%3E%3Cpath d='M18 17.987V7H2v11l16-.013zM4.077 5A5.996 5.996 0 0110 0c2.973 0 5.562 2.162 6.038 5H20v14.986L0 20V5h4.077zm9.902-.005C13.531 3.275 11.86 2 10 2 8.153 2 6.604 3.294 6.144 4.995c.92 0 7.654.03 7.835 0z' fill='%23FFF'/%3E%3C/svg%3E");
}

._2nHArcS {
    background-repeat: no-repeat;
    background-size: auto;
}

.-rhP1cz {
    display: inline-block;
    color: currentcolor;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
}

.-rhP1cz,
.gBrrjX4 {
    font-size: 1.25rem;
}

._1xgEXu7 {
    cursor: pointer;
    margin: 0 5px;
    padding: 0 12px;
    background-position: 50%;
    background-size: 19px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M9.97 8.274L2.335.637.637 2.334 8.274 9.97.637 17.607l1.697 1.697 7.637-7.636 7.636 7.636 1.697-1.697-7.636-7.636 7.636-7.637L17.607.637 9.971 8.274z'/%3E%3C/svg%3E");
}

._12ChTgQ {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    flex-shrink: 1;
}

.IAtMKef {
    font-size: .875rem;
    font-family: futura-pt, sans-serif;
    letter-spacing: .4px;
}

.yPAUReS {
    font-size: 1rem;
    background-position: 15px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    color: #2d2d2d;
    display: block;
    line-height: 50px;
    padding-left: 50px;
    text-decoration: none;
    position: relative;
    border-top: 1px solid #ddd;
    margin-left: 11px;
    letter-spacing: 0;
}

.CjZA9Ep {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%232D2D2D' stroke-width='2' d='M15 6A5 5 0 115 6a5 5 0 0110 0zm3.725 13H1.275c1.064-2.895 4.54-5 8.725-5 4.186 0 7.66 2.105 8.725 5z'/%3E%3C/svg%3E");
}

._37wOqxg {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' height='19' width='19' fill='%23fff'%3E%3Cg fill='%232D2D2D' fill-rule='evenodd'%3E%3Cpath d='M18 4.667L16 2H4L2 4.667V18h16V4.667zM0 4l3-4h14l3 4v16H0V4z' fill-rule='nonzero'/%3E%3Cpath d='M0 4h20v2H0z'/%3E%3Cpath d='M9 1.111h2v4H9z'/%3E%3C/g%3E%3C/svg%3E");
}

.yPAUReS:first-of-type {
    border-top: none;
}

.yPAUReS:last-of-type {
    border-bottom: none;
}

._2SSHFPv {
    position: relative;
    padding: 12px 15px;
    font-family: inherit;
    display: block;
    cursor: pointer;
    max-height: 50px;
    line-height: 50px;
    box-sizing: border-box;
}

._6iPIuvw {
    background-color: transparent;
    border: none;
    color: currentcolor;
    font-size: 0;
    line-height: 0;
}

._1Pn6oie {
    background-color: rgba(45, 45, 45, .65);
    position: fixed;
    top: -40px;
    left: 0;
    right: 0;
    height: calc(100vh + 40px);
    z-index: 19000;
    display: none;
}

._1Pn6oie {
    display: block;
    opacity: 0;
    pointer-events: none;
}

._1iW-tGo,
._3j_6oNg {
    box-sizing: border-box;
}

._3j_6oNg {
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    padding: 0 16px;
    z-index: 20000;
    overflow-y: auto;
    display: none;
}

.h-7-BEq {
    position: relative;
    background: #666;
    border-radius: 19px/50%;
    top: 42px;
}

._3wDTlhS {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

._1LCOtZ3 {
    font-size: .875rem;
    font-family: futura-pt, sans-serif;
    letter-spacing: .4px;
}

.Cyuazsm {
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    height: 38px;
    border-radius: 19px/50%;
    padding-left: 16px;
    padding-right: 70px;
    box-sizing: border-box;
    color: #2d2d2d;
    -webkit-appearance: none;
    background: #fff;
}

._2ARPr_X {
    position: absolute;
    top: -25px;
    left: 15px;
    color: #777;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 1;
    visibility: visible;
    transition: opacity .3s linear;
}

.kH5PAAC {
    background-color: transparent;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transition: background-color .3s;
    z-index: 22000;
    color: #2d2d2d;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.NOZiOAo {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 38px;
    padding: 16px 0;
    z-index: 21000;
    overflow-y: auto;
}

img,
svg {
    vertical-align: unset !important;
}

._3EAPxMS {
    display: none;
}

.otVu6ZN {
    font-size: .875rem;
    font-family: futura-pt, sans-serif;
    letter-spacing: .4px;
}

._2yreb5T {
    width: 100%;
    display: none;
}

._1CJsNLL {
    width: 100%;
    height: 100vh;
    background-color: rgba(45, 45, 45, .65);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11000;
    margin: 140px 0 0 0;
    display: none;
}

._2u0LGMW {
    max-width: 1366px;
    padding: 0 32px;
    margin: 0 auto;
}

._1WUweTj,
._2u0LGMW {
    width: 100%;
    box-sizing: border-box;
}

._1WUweTj {
    display: flex;
    align-items: stretch;
    padding: 24px 10px;
    background-color: #eee;
    position: relative;
    z-index: 12000;
    transition: min-height .2s ease-in-out;
    min-height: 0;
}

._1g1PWkA {
    box-sizing: border-box;
    padding: 0 20px;
    border-right: 1px solid #ddd;
}

._2SQx27S {
    flex: 2;
}

._1rF5dEp {
    flex: 1;
}

._1P4vJYd,
.GO7_XFh {
    font-family: futura-pt, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

._1P4vJYd {
    font-size: .875rem;
    letter-spacing: 2px;
}

._32FGkaZ {
    display: block;
    padding-bottom: 5.5px;
    margin-top: 0;
    margin-bottom: 12px;
    width: 100%;
}

._32FGkaZ span {
    border-bottom: 1px solid #2d2d2d;
}

._1PXCics {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 190px;
}

._2SQx27S ._1PXCics {
    width: 100%;
    -moz-column-count: 2;
    column-count: 2;
}

.CLdGn9X {
    font-size: .875rem;
    font-family: futura-pt, sans-serif;
    letter-spacing: .4px;
}

._2Y7IAa_ {
    line-height: 2.14;
    display: inline-block;
    color: #666;
    text-decoration: none;
}

._11swdTI {
    color: #d01345;
}

._2ln_EdE {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
}

.pMI_odE {
    width: 50%;
    padding-bottom: 8%;
    padding-left: 6px;
    box-sizing: border-box;
    text-align: center;
    max-height: 164px;
}

.v0bHlCs {
    padding: 3px;
    border: 1px solid #ddd;
}

.JRU0urF {
    background-color: #efefef!important;
}

._2vdz4-W {
    background-position: 0 0;
    background-size: cover;
    padding-bottom: 100%;
}

._2vdz4-W,
.v0bHlCs {
    border-radius: 50%;
    display: block;
    max-width: 86px;
    box-sizing: border-box;
    margin: 0 auto;
}

.JRU0urF._2hPCTVi {
    background-color: #ddd!important;
}

._2fXw_A0 {
    font-size: .875rem;
    font-family: futura-pt, sans-serif;
    letter-spacing: .4px;
}

._23FAbpH {
    line-height: 2.14;
    display: inline-block;
    color: #666;
    text-decoration: none;
}

._1g1PWkA {
    box-sizing: border-box;
    padding: 0 20px;
    border-right: 1px solid #ddd;
}

._1rF5dEp {
    flex: 1;
}

._1g1PWkA:last-child {
    border-right: 0;
}

._1oG3guj {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

._3QF73Dj {
    flex: 1;
    max-height: 52px;
    flex-basis: 52px;
}

.s230MSt {
    padding: 3px;
    border: 1px solid #ddd;
}

._1C2tKpW,
.s230MSt {
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background-size: cover;
    box-sizing: unset !important;
}

._2trK-uN {
    font-size: .875rem;
    font-family: futura-pt, sans-serif;
    letter-spacing: .4px;
}

._2nyXJLR {
    line-height: 2.14;
    display: inline-block;
    color: #666;
    text-decoration: none;
}

._3lfjYlZ {
    line-height: 52px;
    height: 52px;
    margin-left: 13px;
    padding-left: 7px;
    max-width: 130px;
    min-width: 110px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(61, 61, 61, .1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

._1E8JSYc {
    height: 100%;
    transform: translateX(-320px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20000;
    background-color: #fff;
}

._2SoGCSG,
._202gWS8 {
    transition: transform .25s ease-out;
}

._14pOwXD {
    transform: translateX(0);
}

._2TrLjo0 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

._1KpI9yn {
    height: 100%;
    width: 266px;
    background-color: #eee;
}

.yq_2WH3 {
    height: 100%;
}

._14pOwXD ._2q2aL0V {
    display: inline;
    display: initial;
}

._2q2aL0V {
    display: none;
    position: absolute;
    padding: 0 13px;
    box-sizing: content-box;
    top: 0;
    left: 266px;
    height: 50px;
    width: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M9.97 8.274L2.335.637.637 2.334 8.274 9.97.637 17.607l1.697 1.697 7.637-7.636 7.636 7.636 1.697-1.697-7.636-7.636 7.636-7.637L17.607.637 9.971 8.274z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-color: #2d2d2d;
    background-size: 24px;
    background-position: 50%;
    cursor: pointer;
    border: 0;
}

._2SoGCSG,
._202gWS8 {
    transition: transform .25s ease-out;
}

._4J9542R {
    height: calc(100% - 50px);
    transform: translateX(0);
}

._3VyFHkU {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

._1a3jWqR {
    visibility: visible;
    padding-bottom: 16px;
}

._1a3jWqR[aria-hidden=true] {
    visibility: hidden;
    position: absolute;
}

._2e7Ka9G {
    padding: 16px 16px 0 !important;
    background-color: #fff;
    box-sizing: border-box;
    width: 266px;
}

._2e7Ka9G:first-child {
    padding-bottom: 0;
}

._2e7Ka9G:last-child {
    margin-bottom: 0;
}

.Zkmg7LM {
    margin-bottom: 16px;
    display: block;
}

.Zkmg7LM:last-child {
    margin-bottom: 0;
}

._1-Uyq6o>li:first-child>ul li:first-child {
    padding-bottom: 0;
}

._3glM2ZX,
._34hjS8L {
    font-family: futura-pt, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

._34hjS8L {
    font-size: .875rem;
    letter-spacing: 2px;
}

._2IUD-Vv {
    font-size: 1rem;
    font-family: futura-pt, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
}

._2xu2X5H {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 0;
}

._3LUoSkA {
    height: 78px;
    width: 100%;
    box-sizing: border-box;
    background-size: 234px 100%;
    background-position: 0 0;
}

._35xS0xg {
    height: 41px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

._1FWBWzw {
    text-align: left;
    width: 140px;
    color: #2d2d2d;
    padding-left: 12px;
    box-sizing: border-box;
}

.sjsg16T {
    margin-bottom: 16px;
    display: block;
}

.sjsg16T:last-child {
    margin-bottom: 0;
}

._2_0LEnE,
._2TY6I2L {
    font-family: futura-pt, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

._2TY6I2L {
    font-size: .875rem;
    letter-spacing: 2px;
}

._3pTqstj {
    font-size: 1rem;
    font-family: futura-pt, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
}

.ptFsM_N {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 0;
}

.D5xlIyX {
    height: 78px;
    width: 100%;
    box-sizing: border-box;
    background-size: 234px 100%;
    background-position: 0 0;
}

._2x2rYFG {
    text-align: left;
    width: 140px;
    color: #2d2d2d;
    padding-left: 12px;
    box-sizing: border-box;
}

._3aTEV5t {
    position: fixed;
    visibility: hidden;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 19000;
    opacity: 0;
    background-color: rgba(45, 45, 45, .65);
    right: 0;
}

._39yaKKY {
    transition: opacity .25s ease-in;
}

.p7E3qDh {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 375px) {
    ._14pOwXD {
        transform: translateX(0);
    }
    ._1KpI9yn {
        width: 320px;
    }
    ._2q2aL0V {
        left: 320px;
    }
    ._2e7Ka9G {
        width: 320px;
    }
    ._3LUoSkA {
        height: 96px;
        background-size: 288px 100%;
    }
    ._35xS0xg {
        height: 48px;
    }
    ._1FWBWzw {
        width: 180px;
    }
    .D5xlIyX {
        height: 96px;
        background-size: 288px 100%;
    }
    ._2x2rYFG {
        width: 180px;
    }
}

@media (min-width: 768px) {
    ._3wSz5e5 {
        height: 60px;
    }
    .d1hfo3- {
        display: flex;
        width: 100%;
    }
    ._31ffwSC {
        width: 30px;
    }
    ._24SZgSx svg {
        margin-top: 15px;
    }
    ._2M1Oheb {
        width: 104px;
        height: 30px;
    }
    ._36m0W_u {
        padding: 11px 15px 11px 18px;
    }
    ._2SSHFPv {
        max-height: 60px;
        line-height: 60px;
    }
    ._1Pn6oie {
        transition: opacity .3s ease-in;
    }
    ._3j_6oNg {
        position: static;
        display: inline-block;
        vertical-align: top;
        height: 100%;
        width: 100%;
        padding: 0;
        background-color: transparent;
        overflow-y: visible;
        overflow-y: initial;
    }
    .h-7-BEq {
        top: 0;
    }
    ._2ARPr_X {
        display: none;
    }
    .NOZiOAo {
        top: 19px;
        background-color: #eee;
        padding: 32px 0 16px;
        max-height: 50vh;
        display: none;
    }
    ._1E8JSYc {
        top: 60px;
        transform: translateX(-320px);
    }
    ._14pOwXD {
        transform: translateX(0);
    }
    ._1KpI9yn {
        width: 320px;
        height: calc(100% - 60px);
    }
    ._2q2aL0V {
        height: 60px;
        width: 40px;
        left: 0;
        top: -60px;
    }
}

@media (min-width: 1024px) {
    ._3FDhT9y {
        color: #666;
        width: 100%;
        background-color: #f8f8f8;
        display: block;
    }
    ._2jtZkvR {
        max-width: 1366px;
        box-sizing: border-box;
        padding: 0 32px;
        height: 30px;
        margin: 0 auto;
    }
    ._1sqB8tC {
        padding: 0;
        margin: 0;
        list-style: none;
        float: right;
        height: 100%;
    }
    ._1sqB8tC li:last-of-type {
        border-right: 1px solid #ddd;
    }
    ._1sqB8tC li {
        display: block;
        float: left;
        height: 100%;
        border-left: 1px solid #ddd;
    }
    ._1sqB8tC a {
        display: block;
        color: #666;
        padding: 0 19px;
        line-height: 30px;
        text-decoration: none;
    }
    ._25L--Pi {
        height: auto;
        display: inline-block;
    }
    ._25fsaDO {
        width: 100%;
        max-width: 1366px;
        padding: 0 32px;
        box-sizing: border-box;
    }
    ._31ffwSC {
        display: none;
    }
    ._24SZgSx {
        padding-right: 18px;
    }
    ._1gfpvjl {
        height: 100%;
        padding: 0;
        width: 230px;
        border-bottom: none;
    }
    ._2Q6RfP3 {
        display: inline-table;
    }
    ._1gfpvjl li:first-of-type {
        border-left: 1px solid #525050;
    }
    ._1gfpvjl li {
        width: 115px;
        border-right: 1px solid #525050;
        border-bottom: none;
        box-sizing: border-box;
    }
    .TO7hyVB.Tar7aO0,
    .TO7hyVB.Tar7aO0:focus,
    .TO7hyVB.Tar7aO0:hover {
        color: #fff;
        background-color: #525050;
        border-bottom: none;
        height: 100%;
    }
    .TO7hyVB {
        height: 100%;
        line-height: 60px;
        width: 100%;
        color: #fff;
        background-color: #2d2d2d;
        border-bottom: none;
    }
    ._36m0W_u {
        padding: 11px 15px 11px 30px;
    }
    ._2ARPr_X {
        display: none;
    }
    ._8EFahPg {
        background-color: #525050;
        display: block;
        height: 50px;
        position: relative;
    }
    ._3EAPxMS {
        background-color: #525050;
        height: 50px;
        display: block;
        position: relative;
    }
    .srMPwPy {
        margin: 0 auto;
        max-width: 1366px;
        padding: 0 32px;
        box-sizing: border-box;
        overflow: hidden;
    }
    ._3C_NQPb {
        display: block;
        height: 50px;
    }
    ._3C_NQPb .menu {
        float: left;
        text-align: center;
        text-decoration: none;
    }
    .cl {
        float: left;
    }
    ._2syfS2P {
        color: #fff;
        letter-spacing: .8px;
        line-height: 50px;
        border: none;
        padding: 0 10px;
        background-color: #525050;
        margin: 0;
        outline: none;
        border-radius: 0;
    }
    ._3C_NQPb .menu:hover,
    .cl:hover ._2syfS2P {
        color: #2d2d2d;
        background-color: #eee;
        font-weight: 400;
    }
    .cl:hover ._2yreb5T {
        display: block;
    }
    .f3gYf7g {
        position: relative;
    }
    ._238FTjh {
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
    }
}